name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.19

    - name: Build application
      run: go build -o main

    - name: Run tests
      run: go test ./...

    - name: Setup Docker
      uses: docker/setup-buildx-action@v2

    - name: Build and push Docker images
      uses: docker/build-push-action@v2
      with:
        context: .
        push: false

    - name: Deploy with Docker Compose
      uses: isbang/compose-action@v1.4.1
      with:
        compose-file: "./docker/docker-compose.yml"
        
    - name: Wait for server to start
          run: |
            while ! curl -s localhost:1321; do sleep 1; done

    - name: Test server
      run: |
        response=$(curl -s localhost:1321)
        if [[ "$response" == *"expected response"* ]]; then
          echo "Server test passed"
        else
          echo "Server test failed"
          exit 1
        fi