name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.19

    - name: Build application
      run: go build -o main

    - name: Run tests
      run: go test ./...

    - name: Setup Docker
      uses: docker/setup-buildx-action@v2

    - name: Build and push Docker images
      uses: docker/build-push-action@v2
      with:
        context: .
        push: false

    - name: Deploy with Docker Compose
      uses: isbang/compose-action@v1.4.1
      with:
        compose-file: "./docker-compose.yml"
        
    - name: Test server
      run: curl -f http://localhost:1321/health/ || exit 1